body {
  background: #edf2f6;
}

h1 {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.btn {
  width: 100%;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

/* Card box style */
.card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card {
  border: 0;
  transition: 350ms;
  box-shadow: 0 0 20px #00000024;
}

.card-link {
  text-decoration: none;
  color: #4a5568;
  transition: 350ms;
}

.card-link:hover {
  color: #0077ff;
}

.card:hover {
  box-shadow: 0 0 40px #00000038;
}

@media screen and (max-width: 768px) {
  .card-img-top {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .card-img-top {
    height: 150px;
  }
}
